*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100%;
    width: 100%;
    background-color: rgb(63, 61, 65);
    display: grid;
    padding: 4rem;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
}


.item{
    background-color: rgb(127, 67, 183);
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.3rem;

}



@media (min-width:768px) {
    .container{
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    }
    .header{
    grid-column-start: 1;
    grid-column-end: 4;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 4;
}

.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}

.content1{
    grid-column-start: 2;
    grid-column-end: 4;
}
}