.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid rgb(173, 173, 173);
    gap: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(68, 71, 78);
    color: white;

}

#btn{
    padding: 0.25rem;
    border: 1px solid;
    border-radius: .15rem;
    color: aliceblue;
    background-color: gray;
}