@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}


body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding-top: 1rem;

}


.header-content{
    max-width: 86%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* max-height: 80px; */
}


.logo-icon{
    /* height: 5.875rem;
    width: 1.93rem; */

    display: flex;
    align-items: center;
    /* font-size: 2rem; */
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;
}
.logo-icon img{
    height: 2rem;
    width: auto;
}
.logo-text{
    font-size: 2rem;
    gap: 1.5rem;
}

.nav{
    display: none;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:768px) {
    .nav{
        display: flex;
    }
}
.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transition: color 0.1s;

}

.nav-link:hover{
    color: var(--link-color);
}

.contact-button{
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transition: all 0.1s;
    padding: 0.825rem 1.3rem;
    display: none;
    justify-content: center;
    align-items: center;
    /* max-height: 0.75rem; */
    font-size: 1.1rem;
    font-weight: 600;
}
@media screen and (min-width:768px) {
    .contact-button{
        display: block;
    }
}
.contact-button:hover{
    background-color: #5254f8 ;
}

.menu-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);
    padding: 0.3rem;
}
@media screen and (max-width:768px) {
    .menu-button{
        display: block;
    }
}
.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}

/* .content{
    height: 100vh;
    width: 100vw;
} */
.main-section{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    align-items: center;
}
.content-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}
.section-label{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.1rem;
}

.section-title{
    color: var(--text-color);
    font-size: 2.3rem;
    font-weight: bold;
}

.section-description{
    color: var(--gray);
    font-size: 1.1rem;

}


.button-group{
    display: flex;
    gap: 2rem;
}

.start-button{
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transition: all 0.1s;
    padding: 0.75rem 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-height: 0.75rem; */
    font-size: 1.1rem;
    font-weight: 600;
}
.start-button:hover{
    background-color: #5254f8;
}
.tour-button{
    border: none;
    border-radius: 0.375rem;
    background-color: var(--dark-gray);
    color: var(--background-color);
    transition: all 0.1s;
    padding: 0.75rem 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-height: 0.75rem; */
    font-size: 1.1rem;
    font-weight: 600;
}
.tour-button:hover{
    background-color: var(--text-color);
}
.image-container{
    border: none;
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 50vh;
    /* width: 50%; */
}

.section-image{
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .main-section{
        flex-direction: row;
        margin-left: 10%;
    }
    .content-left{
        max-width: 50%;
        text-align: left;
        justify-content: start;
        align-items: start;
        animation: slideFromLeft 1s ease forwards;
        
    }
    .section-title{
        font-size: 4rem;
    }
    .image-container{
        height: 65vh;
    }
}

.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    animation: slideFromLeft 1s ease forwards;
    margin-bottom: 2rem;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border-radius: 0.625rem;
    margin-top: 2rem;
    padding: 1.3rem 2.6rem;
}


.company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;
}
.svg-img{
    height: 1.6rem;

}
.logo-texttt{
    font-size: 0.95rem;
    font-weight: 700;
}

@media screen and (min-width:640px) {
    .company-grid{
        grid-template-columns: repeat(4, 1fr);
    }
    .company-title{
    font-size: 2.3rem;
    font-weight: bold;
}
}

.feature-container{
    background-color: var(--light-gray);
    padding: 2rem 0;
    text-align: center;
    
}

.feature-content{
    max-width: 60%;
    margin: 0 auto;
    padding: 0 2rem;

}
.main-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.main-title{
    font-size: 2rem;
    font-weight: bold;
}

.main-para{
    color: var(--gray);
    font-size: 1rem;
}

.feature-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2,1fr);
    margin-top: 1.5rem;
    color: white;
}
@media screen and (max-width:760px) {
    .feature-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

.icon-container{
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-svg{
    height: 1.5rem;
    width: 1.5rem;
}
.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    border-radius: 0.5rem;
    padding: 2rem;
    gap: 0.75rem;
}
.feature-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.feature-card:nth-child(2){
    background-color: #FF6289;
}
.feature-card:nth-child(3){
    background-color: #Fcbf58;
}
.feature-card:nth-child(4){
    background-color: #44bfc3;
}
.feature-card:nth-child(5){
    background-color: #77b05d;
}
.feature-card:nth-child(6){
    background-color: #7d78b1;
}
.feature-card:nth-child(1){
    background-color: #4a90a2;
}

.feature-title{
    font-weight: bold;
    font-size: 1.3rem;
}
.feature-description{
    font-size: 1rem;
}

.testimonial-container{
    margin: 0 auto;
    max-width: 90%;
    padding: 2rem;
    /* margin-top: 2rem; */
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 2rem;
}
.testimonial-title{
    font-size: 1.875rem;
    font-weight: bold;
}
.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 2rem;
    
}
/* @media screen and (min-width:1030px) {
    .testimonial-grid{
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
} */
.testimonial-card{
    border:0.1px solid rgb(158, 154, 154);
    padding: 1.2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    gap: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.testimonial-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 1px solid blue;
}
.testimonial-avatar img{
    height: 4rem;
    width: 4rem;
}

.testimonial-text{
    font-size: 0.875rem;
    color: var(--dark-gray);
}

.testimonial-name{
    color: var(--primary-color);
    font-size: 1rem;
}
.testimonial-desc{
    color: var(--dark-gray);
    font-size: 0.85rem;
}

.newsletter-container{
    padding: 0rem 2rem 0rem 2rem;
    margin: 0 auto;
    width: 90%;
    height: 37vh;
}
.newsletter-content{
    display: flex;
    background-color: var(--light-gray);
    border-radius: 0.75rem;
    
}
.news-left{
    max-width: 50%;
    /* height: 100%; */
}
.news-right{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 4%;
    padding-left: 1rem;
    gap: 1rem;
}
.news-left img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}
@media screen and (min-width:640px) {
    .news-left{
        display: block;
        width: 50%;
    }
    .news-right{
        width: 50%;
    }
    .newsletter-container{
        padding: 2rem;
    }
}
@media screen and (min-width:640px) {
    .news-title{
        font-size: 2.5rem;
    }
}
.news-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.privacy-policy{
    font-size: 0.75rem;
    color: var(--gray);
}
.news-link{
    text-decoration: underline;
    color: var(--link-color);
}
.news-title{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2.5rem;
}
.news-desc{
    color: var(--gray);
}
.news-form{
    display: flex;
    gap: 0.5rem;
    padding-bottom: 1rem;
}
.news-email{
    
    height: 2.3rem;
    padding-left: 0.5rem;
    border: 1px solid #d1cece;
    border-radius: 0.25rem;
}
.news-send-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.785rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 1px solid #d1cece;
}

.footer-container{
    background-color: var(--background-color);
    margin: 12rem auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.footer{
    max-width: 1280px;
    padding:1.2rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
}

.logo-svg{
    width: 2rem;
    height: 6rem;
}

.comp-logo{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1.9rem;
}
.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.28rem;
    font-weight: bold;
    color: black;
}
.social-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.filler-text{
    font-size: 1rem;
    color: #777;
}
.social{
    display: flex;
    gap: 0.8rem;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 58%;
    grid-gap: 5.67rem;
    padding-top: 2rem;
}

.footer-grid-heading{
    font-size: 1.05rem;
    font-weight: bold;
    color: var(--text-color);
}

ul{
    list-style-type: none;
}
.footer-link{
    color: #777;
    font-size: 0.875rem;
}
.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer-grid-heading{
    margin-bottom: 1.65rem;
}

.footer-copyright{
    color: var(--gray);
    font-size: 0.75rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 1.15rem;
    border-top: 1px solid #E5E7EB;
}

@media screen and (max-width:1080px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-top{
        padding-left: 10rem;
    }
    .footer-grid{
        align-self: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:850px) {
    .footer-top{
        padding-left: 1rem;
    }
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
    }
}