.user-container{
    border: 1px solid black;
    width: 20vw;
    height: 40vh;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    gap: 1rem;
}

#user-image{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    object-fit: cover;
}