*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e36495;
    background: radial-gradient(circle, rgba(227, 100, 149, 1) 0%, rgba(148, 187, 233, 1) 100%);

}


.card{
    width: 350px;
    height: 600px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 15px;
    padding: 20px;
    margin-right: 10px;
}

.card img{
    height: 55%;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.card h2{
    font-weight: bold;
    font-size: 1.6rem;
    
}


.card p{
    font-size: 1.1rem;
}